mixin calc()
    <div class="s-abs-calc s-abs">
        <div class="s-abs-calc__container container">
            <h4 class="s-abs-calc__title abs-title">Рассчитайте стоимость банковской гарантии</h4>
            
        </div>
        <!-- Tabs -->
        <div class="abs-calc-tabs abs-tabs js-tabs">         
            <!-- Tabs Buttons -->
            <div class="abs-tabs__switches-wrap">
                <div class="abs-calc-tabs__switches-container abs-tabs__switches-container container">
                    <div class="abs-calc-tabs__title abs-calc-tabs__title_switches">Федеральный закон, в рамках которого проводится тендерная процедура</div>
                    <div class="abs-calc-tabs__switches abs-tabs__switches">
                        <div class="abs-tabs__switch js-tabs__switch active">44-ФЗ</div>
                        <div class="abs-tabs__switch js-tabs__switch">223-ФЗ</div>
                        <div class="abs-tabs__switch js-tabs__switch">185-ФЗ</div>
                        <div class="abs-tabs__switch js-tabs__switch">215-ФЗ</div>
                    </div>
                </div>
            </div>         
            <!-- /Tabs Buttons -->
            
            <div class="abs-tabs__contents">
                <div class="abs-tabs__content active">
                    <div class="abs-tabs__content-container container">
                        <form class="abs-calc-tabs__form">
                            <div class="abs-calc-tabs__row">
                                <div class="abs-calc-tabs__title">Сумма банковской гарантии</div>
                                <!-- Скрытое поле с законом -->
                                <input type="hidden" value="44-ФЗ" name="Закон" class="js-tabs-value">

                                <div class="abs-calc-tabs__value">
                                    <div class="abs-calc-tabs__field">
                                        <input placeholder="до 320 000 000 руб." type="text" class="abs-calc-tabs__input">
                                    </div>
                                </div>
                            </div>
                            <div class="abs-calc-tabs__row">
                                <div class="abs-calc-tabs__title">Срок гарантии</div>
                                <div class="abs-calc-tabs__value">
                                    <div class="abs-calc-tabs__field">
                                        <input placeholder="до 1825 дней" type="text" class="abs-calc-tabs__input">
                                    </div>
                                </div>
                            </div>
                            <div class="abs-calc-tabs__row">
                                <div class="abs-calc-tabs__title abs-calc-tabs__title_check">Предусмотрена выплата аванса </div>
                                <div class="abs-calc-tabs__value abs-calc-tabs__value_check">
                                    <div class="abs-calc-tabs__check-wrap">
                                        <label class="abs-checkbox">
                                            <input type="checkbox" class="abs-checkbox__input visually-hidden" checked>
                                            <span class="abs-checkbox__content">
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="abs-calc-tabs__calc-btn-wrap">
                                <button class="abs-calc-tabs__calc-btn abs-btn">Рассчитать стоимость гарантии</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>