extends ../layouts/default


block content
    +b.first
        +e.container.container
            +e.person
                +e.IMG.person-img(src="img/jpg-png/person.png")
                +e.person-text
                    +e.person-name.text Анна Александровна
                    +e.person-pos.text руководитель отдела обеспечения
            +e.content
                +e.content-headline Получите банковскую гарантию для госконтракта
                +e.content-sub.text Выбор из 31 лучшего банка (из переченя МИНФИНА)
                +e.content-box
                    +e.content-item
                        +e.content-item-head.text Время
                        +e.content-item-text
                            +e.SPAN.content-item-text_big 3
                            +e.SPAN.content-item-text_min.text дня
                    +e.content-item
                        +e.content-item-head.text Сумма банковской гарантии
                        +e.content-item-text
                            +e.SPAN.content-item-text_big 150
                            +e.SPAN.content-item-text_min.text млн.руб.
                    +e.content-item
                        +e.content-item-head.text Процент от суммы гарантии
                        +e.content-item-text
                            +e.SPAN.content-item-text_min.text от
                            +e.SPAN.content-item-text_big 1,3 %
            +e.list(data-block="listFirst")
                +e.list-item.text.active(data-item="listFirst") до 1 миллиона
                +e.list-item.text(data-item="listFirst") от 1 до 5 миллионов
                +e.list-item.text(data-item="listFirst") от 5 до 20 миллионов
                +e.list-item.text(data-item="listFirst") от 20 до 70 миллионов
                +e.list-item.text(data-item="listFirst") более 70 миллионов
    +b.numbers
        +e.box(data-block="numbers")
            +e.item
                +e.item-head
                    +e.item-number.js-number(data-number="9") 0
                    +e.item-inf_right лет
                +e.item-sub Успешной карьеры
            +e.item
                +e.item-head
                    +e.item-number.js-number(data-number="600") 0
                    +e.item-inf_top более
                +e.item-sub Довольных клиентов
            +e.item_pers
                +e.item-head
                    +e.item-number.js-number(data-number="40") 0
                    +e.item-inf_pers %
                    +e.item-inf_top экономим до
                +e.item-sub От цены рынка

    +service()

    +b.partners(data-block="partners")
        +e.container.container
            +e.headline.headline Более 60 банков партнеров
            +e.content
                -
                    var card = {
                        img: 'img/jpg-png/partner.png'
                    }
                - for(var i = 0; i < 16; i++)
                    +partnerCard(card)
            +e.more(data-btn-open="morePartners")
                +e.SPAN.text Развернуть
                +e.IMG.more-img(src='img/jpg-png/arrow.png')
            +e.more_less(data-btn-close="morePartners")
                +e.SPAN.text Свернуть
                +e.IMG.more-img_less(src='img/jpg-png/arrow.png')
    +b.circles
        +e.container.container
            +e.item
                +e.IMG.item-img(src="img/jpg-png/circle_1.png")
                +e.item-text Подберем банк под требования вашего Заказчика и согласуем "сложные" правки в тексте гарантии.
            +e.item
                +e.IMG.item-img(src="img/jpg-png/circle_2.png")
                +e.item-text Оформление гарантии, дистанционно, без визита в банк.
            +e.item
                +e.IMG.item-img(src="img/jpg-png/circle_3.png")
                +e.item-text Работаем с компаниями из любого региона России. В том числе Республика Крым, Северный Кавказ.
    
    +calc()
    +sendQuest()