mixin service()
    <div class="s-abs-services s-abs">
        <div class="s-abs-services__container container">
            <h4 class="s-abs-services__title abs-title">Финансовые услуги для участников госзаказа</h4>
        </div>
        <!-- Tabs -->
        <div class="abs-services-tabs abs-tabs js-tabs">         
            <!-- Tabs Buttons -->
            <div class="abs-tabs__switches-wrap">
                <div class="abs-tabs__switches-container container">
                    <div class="abs-tabs__switches">
                        <div class="abs-tabs__switch js-tabs__switch active">44-ФЗ</div>
                        <div class="abs-tabs__switch js-tabs__switch">223-ФЗ</div>
                        <div class="abs-tabs__switch js-tabs__switch">185-ФЗ</div>
                        <div class="abs-tabs__switch js-tabs__switch">215-ФЗ</div>
                        <div class="abs-tabs__switch js-tabs__switch">Коммерческие контракты </div>
                    </div>
                </div>
            </div>         
            <!-- /Tabs Buttons -->
            
            <div class="abs-tabs__contents">
                <div class="abs-tabs__content js-tabs__content active">
                    <div class="abs-tabs__content-container container">
                        <div class="services-scheme">
                            <div class="services-scheme__row">
                                <div class="services-scheme__title">Участие в тендере</div>
                                <div class="services-scheme__items-box">
                                    <div class="services-scheme__item">
                                        <a href="#" class="services-scheme__item-link">
                                            <div class="services-scheme__item-title">Тендерный кредит</div>
                                            <div class="services-scheme__item-text">На обеспечение участия вэлектронных торгах</div>
                                        </a>
                                    </div>
                                    <div class="services-scheme__item">
                                        <a href="#" class="services-scheme__item-link">
                                            <div class="services-scheme__item-title">Банковские гарантии</div>
                                            <div class="services-scheme__item-text">На обеспечение участия в конкурсе</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="services-scheme__row">
                                <div class="services-scheme__title">Заключение контракта
                                </div>
                                <div class="services-scheme__items-box">
                                    <div class="services-scheme__item services-scheme__item_disabled">
                                        <div class="services-scheme__item-title">Банковские гарантии</div>
                                        <div class="services-scheme__item-text">На исполнение контракта</div>
                                    </div>
                                    <div class="services-scheme__item">
                                        <a href="#" class="services-scheme__item-link">
                                            <div class="services-scheme__item-title">Кредит</div>
                                            <div class="services-scheme__item-text">На исполнение контракта</div>
                                        </a>
                                    </div>
                                    <div class="services-scheme__item services-scheme__item_disabled">
                                        <div class="services-scheme__item-title">Банковская гарантия</div>
                                        <div class="services-scheme__item-text">На гарантийный срок</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="services-scheme__row">
                                <div class="services-scheme__title">Выполнение контракта
                                </div>
                                <div class="services-scheme__items-box">
                                    <div class="services-scheme__item">
                                        <a href="#" class="services-scheme__item-link">
                                            <div class="services-scheme__item-title">Кредит</div>
                                            <div class="services-scheme__item-text">На исполнение контракта</div>
                                        </a>
                                    </div>
                                    <div class="services-scheme__item">
                                        <a href="#" class="services-scheme__item-link">
                                            <div class="services-scheme__item-title">Факторинг</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="services-scheme__row">
                                <div class="services-scheme__title">Завершение контракта
                                </div>
                                <div class="services-scheme__items-box">
                                    <div class="services-scheme__item">
                                        <a href="#" class="services-scheme__item-link">
                                            <div class="services-scheme__item-title">Банковские гарантии</div>
                                            <div class="services-scheme__item-text">На гарантийные обязательства</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="abs-tabs__content js-tabs__content">
                    <div class="abs-tabs__content-container container">2</div>
                </div>
                <div class="abs-tabs__content js-tabs__content">
                    <div class="abs-tabs__content-container container">3</div>
                </div>
                <div class="abs-tabs__content js-tabs__content">
                    <div class="abs-tabs__content-container container">4</div>
                </div>
                <div class="abs-tabs__content js-tabs__content">
                    <div class="abs-tabs__content-container container">5</div>
                </div>
            </div>
        </div>
    </div>