//- mixin header()
//-     <header id="header">
//-         <div class="header-top">
//-             <div class="container">
//-                 <div class="call-call">
//-                     <a class="holder-call" href="#">Заказать обратный звонок</a>
//-                     <div class="callback-form">
//-                         <a class="close-modal" href="#">X</a>
//-                         <form class="back_call">
//-                             <fieldset>
//-                                 <input type="text" class="back_call_name checkinput" placeholder="Ваше имя*">
//-                                 <input type="text" class="back_call_phone checkinput" placeholder="Ваш телефон*">
//-                                 <input type="hidden" value="Заказать обратный звонок - header" class="forms_names">
//-                                 <input type="submit" value="Отправить">
//-                             </fieldset>
//-                         </form>
//-                     </div>
//-                     <div class="m-menu-wrap">  
//-                         <button class="cmn-toggle-switch cmn-toggle-switch__htx">
//-                         <span>toggle menu</span>
//-                         </button>
//-                     </div>
//-                 </div>
//-                 <address><?php echo stripslashes($myoptions['adress']); ?> <span><?php echo stripslashes($myoptions['time_work']); ?></span></address>
//-             </div>
//-         </div>
//-         <div class="header-middle">
//-             <div class="container">
//-                 <div class="group">
                
                
                
//-                     <h2 class="logo">
//-                         <?php 
//-                     if ( is_home() && !is_paged() ) {
//-                         echo(''); // код, который будет выводится на главной странице
//-                     } else {
//-                         echo('<a href="/"><?php bloginfo("description"); ?></a>'); // действие для остальных страниц
//-                     }
                    
//-                     ?>
//-                     </h2>
//-                     <div class="holder-contact">
//-                         <a href="tel:<?php echo $myoptions['phone1']; ?>"><?php echo $myoptions['phone1']; ?></a>
//-                         <a href="tel:<?php echo $myoptions['phone2']; ?>"><?php echo $myoptions['phone2']; ?></a>
//-                         <span>(бесплатный звонок из любого региона России, в том числе с мобильного)</span>
//-                     </div>
//-                     <nav id="nav">
//-                         <a class="opener" href="#"></a>
//-                         <?php wp_nav_menu_extended(array('theme_location' => 'top', 'menu_id' => 'primary-menu')); ?>
//-                     </nav>
//-                 </div>

//-                 <div class="services-wrap">                     
//-                     <?php wp_nav_menu(array('theme_location' => 'services', 'menu_id' => 'primary-menu', 'items_wrap' => '<ul class="holder-nav">%3$s</ul>', 'link_before' => '<h4>', 'link_after' => '</h4>')); ?>
//-                 </div>

//-             </div>
//-         </div>
//-     </header>